.text1 {
    color: #FBFADA;
    font-size: 40px;
    font-family: sans-serif;
}

.img1 {
    border-radius: 50%;
    margin-left: 85px;
}

.img2 {
    border-radius: 50%;
    margin-left: 85px;
}

.img3 {
    border-radius: 50%;
    margin-left: 85px;
}

.img4 {
    border-radius: 50%;
    margin-left: 85px;
}